# Ignore Play! working directory #
bin/
/db
.eclipse
/lib/
/logs/
/modules
/project/project
/project/target
/target
tmp/
test-result
server.pid
*.conf
*.iml
*.eml
*.bin
*.directory
/dist/
.cache
.idea/
